<div class="list-group-item route-selector" onmouseover={{action "over"}} onmouseout={{action "off"}}>
	<div class="route-info">
		<div>{{value1}}</div>
	</div>
	<div class={{iconClass}} onclick={{action "selectRoute" value}}>
		{{fa-icon "train"}}
	</div>

	<div class="clearfix"></div>
</div>