<div class="list-group-item route-selector" onmouseover={{action "over"}} onmouseout={{action "off"}} onclick={{action "setRoute" value1}}>
	<div class="route-info">
		<div>{{value1}}</div>
	</div>
	<div class={{buttonClass}}>
		<div class="btn btn-primary" {{action "selectRoute" value}}>Go</div>
	</div>
	<div class="clearfix"></div>
</div>

