<div class="list-group-item route-selector" onmouseover={{action "over"}} onmouseout={{action "off"}} onclick={{action "setRoute" value1}}>
	<div class="route-info">
		<div>{{value1}}</div>
		<div class={{directionClass}}>
			<div>{{value2}} trips total</div>      
		</div>
	</div>
	<div class="direction-selector {{dropdownClass}}">
		{{#direction-selector disabled=disabled as |direction|}}
			<div class="get-route-button">

			        <button class={{buttonClass}} disabled={{disabled}} {{action "setDirection" direction}}>Go!</button>
			</div>
		{{/direction-selector}}
	</div>
	<div class="clearfix"></div>
</div>

