<div class="container">
	<div class="header">
		<div class="navbar navbar-default">
			<div class="page-nav">

				<div class="left-nav">
					{{link-to "Search Routes" "routes"}}
					{{link-to "My Notifications" "notifications"}}
				</div>
				<div class="right-nav">
					{{link-to "Home" "home"}}
					{{link-to "About" "about"}}
					{{link-to "Help" "help"}}
				</div>
			</div>
		</div>
	</div>
	{{outlet}}
</div>

